<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default <title>{% endblock %}</title></title>
    <link href>
</head>
<body>
    {% include "partials/nav.njk" %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'partials/footer.njk' %}
    <script>
</body>
</html>