{% extends 'partials/layout.njk' %}
{% block title %}About us{% endblock %}
{% block content %}
     <h1>Hello {{ name }}</h1>
 
    <form>  
       
    </form>
{% endblock %}
<div class="container">
  <!-- Content here -->
</div>